<div class = "container title-lg" >
  <p>Профиль пользователя: <%= @user.name %></p>
  <%= render 'avatar', user: @user, avatar_class: "avatar-big" %>
  <p class="text-sm question-footer">Зарегистрировался <%=l(@user.created_at, format: :short) %></p>
  <% if current_user == @user %>
    <%= render 'users/buttons' %>
  <% end %>
</div>

 <div class = "mt-sm container" >
  <div class = "mt-sm" >
    <div class = "title-lg">
      <%= (t "question", count: @questions.count) %>
      <%= link_to "Ask", nil, remote: true, class: "button button-main",
           data: { controller: "question",
                   action: "question#toggleForm" } %>
    </div>
  </div>

  <div id="question_form" class="d-none">
    <%= render 'questions/form', user: @user, question: @user.questions.build %>
  </div>

  <div id="questions">
    <% @questions.each do |question| %>
        <%= render 'questions/question', user: @user, question: question %>
    <% end %>
  </div>


</div>

