    <div class = "wrapper">
      <div class = "navbar">
        <p class="title-sm text-bold">
          <%=link_to "Ask me!", root_path %>
            <%= link_to "Ru", url_for( :locale => 'ru' ), class: 'nav-link' %>
            <%= link_to "En", url_for( :locale => 'en' ), class: 'nav-link' %>
        </p>

        <div>
          <% if current_user.present? %>
          <div class="line">
            <div class="container">
              <%= render 'layouts/avatar', user: current_user, avatar_class: "avatar-navbar" %>
            </div>            
            <%= button_to 'Выйти', session_path, method: :delete , class:'button button-green' %>
          </div>

          <% else %>
            <%= link_to (t 'Sign up'), new_user_path, class: 'button button-green mr-sm'%>
            <%= link_to 'Вход', new_session_path, class: 'button button-green' %>
          <% end %>
        </div>
      </div>