    <div class = "wrapper">
      <div class = "navbar">
        <p class="title-sm text-bold"><%=link_to "Ask me!", root_path %></p>

        <div>
          <% if current_user.present? %>
          <div class="line">
            <div class="container">
                <div class="avatar">
                <% if current_user.avatar.attached? %>
                    <%= link_to (image_tag user.avatar, class: "avatar-mini"), user_path(current_user) %>
                <% else %>
                    <%= link_to (image_tag 'default_avatar.jpg', class: "avatar-mini"), user_path(current_user) %>
                <% end %>
                </div>
            </div>            
            <%= button_to 'Выйти', session_path, method: :delete , class:'button button-green' %>
          </div>

          <% else %>
            <%= link_to 'Регистрация', new_user_path, class: 'button button-green mr-sm'%>
            <%= link_to 'Вход', new_session_path, class: 'button button-green' %>
          <% end %>
        </div>
      </div>